.categories-container {
    margin-top:50px
}
.categories-container h3 {
    padding-bottom:20px;
    padding-left:20px
}

.category-1-banner:before{
   content: '';
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background: url('/../../assets/img/R.jpeg') no-repeat center center/cover;
  
}
.category-1-banner { 
    position:relative;
    height:450px;
    width:100%;
    color:black;

 }

 .home-category-1{
     width:100%;
     
 }
 