<section id ="main">
    <div id="sidebar-navigation">
        <div class="sidebar">
            <ul>
                 <li><a routerLink="dashboard">Dashboard</a></li>
                <li><a routerLink="products">Products</a></li>
                <li><a routerLink="orders">Orders</a></li>
                <li><a routerLink="categories">Categories</a></li>
            </ul>
        </div>
    </div>
    <div id="insights"> 
        <router-outlet>
            
        </router-outlet>
    </div>
</section>