 
  #main {
    display: flex;
    font-family: sans-serif;
    min-width: 800px;
    background-color: #f2f2f2;
  }
  
  #sidebar-navigation {
    width: 20%;
    background-color: rgba(9, 11, 43, 0.719);
    height: 100vh;
  }
  
  #insights {
    width: 80%;
    position: relative;
  }
  
  .sidebar li {
    list-style: none;
    padding: 30px 50px;
  }
  
  .sidebar li a {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
  
  
  
  