<nav>
    <div class="nav-bar">
        <a routerLink="/" class="logo"><h3><span class="shop">WEST</span>SHOP</h3></a>
        <div class="search-box">
            <form [formGroup] = "searchForm" (ngSubmit)="search()">
                 <input type="text" name="searchbar" formControlName = "searchTerm">
                 <input type="submit" value="Search">
            </form>
        </div>
        <ul>
            <li>
                <a routerLink="/cart">Cart<span class="round">{{itemsInCart}}</span></a>  
            </li>
            <li class="dropdown-toggle" appDropDown>
                <a *ngIf="userIsPresent; else noUser">{{user.firstName}} </a>
                <ng-template #noUser> 
                    <a>Account</a>
                </ng-template>
                <div></div>
                <ul class="dropdown-menu" *ngIf="userIsPresent; else logout" >
                    <li><a>Profile</a></li> 
                    <li><a>Orders</a></li> 
                    <li (click)="logOut()" ><a>Log Out</a></li>
                </ul> 
                <ng-template #logout>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/auth/login">Log In</a></li>
                    </ul>
                </ng-template>
            </li>
        </ul> 
    </div>
</nav>