<div class="product-row-1" *ngIf="hasResults===true; else noresult" >
  <h3 *ngIf="loading;else showresults">Loading...</h3>
  <ng-template #showresults> 
  <h3><span *ngIf="isSearch">Showing {{resultsnumber}} </span>{{ category }}</h3>
  </ng-template>
  <div 
    class="item-container-wrapper columns{{ columns }}"
  >
    <div class="item-container" *ngFor="let product of result">
      <a
        [routerLink]="['/product', product.productID, product.productUrl]"
        style="cursor: pointer"
      >
        <div class="item-img">
          <img src="/../../../../../assets/img/{{ product.imagePath }}" />
        </div>
        <div class="item-description-container">
          <p>{{ product.title }}</p>
          <h4>Ksh {{ product.price }}</h4>
        </div>
      </a>
    </div>
  </div> 
  
</div>
<div class="product-row-1">
  <ng-template #noresult>
    <p class="noresults">There are no results for your query </p>
  </ng-template>
</div>

