<div class="categories-container">
    <h3>Categories</h3>
    <div class="home-category-1"> 
      <a routerLink="/category/Kitchen Appliance">
    <div class="category-1-banner">
      <h2>Kitchen Aplliances</h2>
    </div>
  </a> 
  </div>
  <div class="home-category-2-container">
    <div class="home-category-2">
      <h3>Women <br> Apparell</h3>
      <div class="category-2-left">
        <div class="category-2-banner"> 
           <a routerLink="/category/Women Wear"><img src="assets/img/trench.jpeg" /></a>  
        </div>
        <div class="category-2-banner">
          <a routerLink="/category/Women Wear"><img src="assets/img/wap.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="home-category-3">
      <h3>Men Apparell</h3>
      <div class="category-3-banner"> 
        <a routerLink="/category/Men's Wear"><img src="assets/img/men.jpg" /></a>  
      </div>
    </div>
  </div>
  

</div>