<div class="footer">
    <div class="footer-service">
        <h4>SERVICE</h4>
        <ul>  
            <li><a routerLink="">Online Help</a></li>
            <li><a routerLink="">Contact Us</a></li>
            <li><a routerLink="">Order Status</a></li>
            <li><a routerLink="">Change Location</a></li>
        </ul>
    </div>
    <div class="footer-quick-shop">
        <h4>QUICK SHOP</h4>
        <ul>  
            <li><a routerLink="">Smartphones</a></li>
            <li><a routerLink="">Laptops</a></li>
            <li><a routerLink="">Mens Wear </a></li>
            <li><a routerLink="">Kitchen Appliances</a></li>
        </ul>
    </div>
    <div class="footer-policies">
        <h4>POLICIES</h4>
        <ul>  
            <li><a routerLink="">Terms of use</a></li>
            <li><a routerLink="">Careers</a></li>
            <li><a routerLink="">Refund Policy</a></li>
            <li><a routerLink="">Billing System</a></li>
        </ul>
    </div>
    <div class="footer-about">
        <h4>About </h4>
        <ul>  
            <li><a routerLink="">Company Information</a></li>
            <li><a routerLink="">Careers</a></li>
            <li><a routerLink="">Store Location</a></li>
            <li><a routerLink="">Affiliate Program</a></li>
        </ul>
    </div>
     
</div>
<div class="footer-rights">
    <p>WestShop Ltd. &copy;2022  All Rights Reserved</p>
    <p>Contact +254701096760</p>
</div>
